*,::after,::before{
    font-family:Overpass,sans-serif;
    box-sizing:border-box
}
.card,.dropdown,.dropleft,.dropright,.dropup,.link-primary svg{
    position:relative
}
.card,body{
    background-color:#fff
}
.link-primary,body{
    font-weight:400
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
    display:block
}
html{
    overflow-x:hidden;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent
}
@media only screen and (max-width:320px){
    html{
        overflow-x:auto!important
    }
}
#__layout,#__nuxt,body,html{
    min-height:100dvh;
    min-width:100vw;
    max-width:100vw!important
}
body{
    margin:0;
    line-height:1.5;
    overflow:clip!important
}
.min-width{
    min-width:320px!important
}
.container--theme{
    max-width:800px!important;
    min-width:320px
}
@media only screen and (max-width:1440px){
    .container--theme{
        max-width:760px!important
    }
}
@media only screen and (max-width:1200px){
    .container--theme{
        max-width:612px!important
    }
}
@media only screen and (max-width:1024px){
    .container--theme{
        max-width:870px!important
    }
}
.scroll--off{
    -ms-overflow-style:none;
    scrollbar-width:none;
    overflow-y:hidden;
    height:100dvh
}
.scroll--off::-webkit-scrollbar{
    display:none
}
a:active,a:focus{
    text-decoration:none!important
}
input::placeholder{
    color:#c5c5c5;
    opacity:1
}
input:-ms-input-placeholder{
    color:#c5c5c5
}
input::-ms-input-placeholder{
    color:#c5c5c5
}

.card,.display-flex{
    display:flex
}
.nav-link{
    color:#282f3a
}
.grecaptcha-badge{
    width:70px!important;
    overflow:hidden!important;
    transition:.3s!important;
    left:4px!important
}
.grecaptcha-badge:hover{
    width:256px!important
}
.link-primary svg{
    top:-2px
}
.text-left{
    text-align:left!important
}
a{
    color:#727cf5;
    text-decoration:none;
    background-color:transparent
}
a:hover{
    color:#5962dd
}
.text-center{
    text-align:center!important
}
.text-right{
    text-align:right!important
}
.text-muted{
    color:#686868!important
}
.p-0{
    padding:0!important
}
.mb-1,.my-1{
    margin-bottom:.25rem!important
}
.card{
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-clip:border-box;
    border:1px solid rgba(40,47,58,.125);
    border-radius:.25rem
}
.table-responsive{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch
}
.text-danger{
    color:#f36!important
}
img{
    border-style:none
}
img,svg{
    vertical-align:middle
}
.main-wrapper .navbar-container{
    width:calc(100% - 240px)!important
}
@media only screen and (max-width:1280px){
    .visible-in-web__navigation{
        display:none!important
    }
    .main-wrapper .navbar-container{
        width:100%!important
    }
}
.main-wrapper.sidebar-folded .navbar-container{
    width:calc(100% - 70px)!important
}
h2,h3{
    margin-top:24px
}
h3,h4,li,p{
    margin-bottom:10px
}
h2,h3,h4{
    font-weight:600;
    line-height:26px
}
h2{
    font-size:23px;
    margin-bottom:16px
}
h3{
    font-size:20px
}
h4{
    font-size:17px;
    margin-top:16px
}
li,p{
    text-align:left;
    font-size:16px;
    font-weight:300;
    line-height:24px
}
.noselect{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.form-control.invalid,.form-control.invalid:hover{
    border-color: #FF3366 !important;
}
.error-text{
    color: #FF3366 !important
}
